*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
 background-color: #1e1e1e;
 font-family: sans-serif;
 color: #a0a0a0;
 line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    padding-top: 40px;
    margin: auto;
    gap: 40px;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 16px;
}

.main-content{

    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/*Profile*/

.imgDiv{
    text-align: center;
}

.imgDiv img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1 solid #3a3a3a;
}

.imgDiv h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.imgDiv p{
    background-color: #1e1e1e;
    border: 1px solid #2a2a2a;
    padding: 5px 15px;
    color: #FFBF00;
    border-radius: 8px;
    font-size: 0.8rem; 
    display: inline-block;
    margin-top: 10px;
}

.contact{
  margin-top:40px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
}

.email,.mobile{
 margin-bottom: 15px;
}

.contact p{
    color: #e0e0e0;
    font-size: 0.8rem;
}

.social{
 margin-top:50px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
  text-align: center;
}

.social img{
  height: 30px;
 width: 30px;
 padding: 2px;
 filter: grayscale(1) invert(0.7);
 transition: filter 0.3s ease;
}

.social img:hover{
    filter: grayscale(0) invert(0);
}


/* main-container */

/* navigation */

.navigation{
   border-bottom: 2px solid #3a3a3a;
   margin-bottom: 20px;
   padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: end;
    gap: 20px;
} 
 
nav a{
    color: #a0a0a0;
    text-decoration: none;
    font-weight: 500;
    transition: filter 0.3s ease;


}

.active , nav a:hover{
    color: #FFBF00;
}

/* about */

.heading{
    color: #e0e0e0;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
   background-color: #FFBF00;
   margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

#about{
    margin-bottom: 40px;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr));
    gap: 40px;
    
}

.grid-item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}

.grid-item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

.grid-item h3{
    font-size: 1rem;
}

.grid-item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}