*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
 background-color: #1e1e1e;
 font-family: sans-serif;
 color: #a0a0a0;
 line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    padding-top: 40px;
    margin: auto;
    gap: 40px;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 16px;
}

.main-content{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
}

/*Profile*/

.imgDiv{
    text-align: center;
}

.imgDiv img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1 solid #3a3a3a;
}

.imgDiv h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.imgDiv p{
    background-color: #1e1e1e;
    border: 1px solid #2a2a2a;
    padding: 5px 15px;
    color: #FFBF00;
    border-radius: 8px;
    font-size: 0.8rem; 
    display: inline-block;
    margin-top: 10px;
}

.contact{
  margin-top:40px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
}

.email,.mobile{
 margin-bottom: 15px;
}

.contact p{
    color: #e0e0e0;
    font-size: 0.8rem;
}

.social{
 margin-top:50px;
  border-top: 2px solid #3a3a3a;
  padding-top: 20px;
  text-align: center;
}

.social img{
  height: 30px;
 width: 30px;
 padding: 2px;
 filter: grayscale(1) invert(0.7);
 transition: filter 0.3s ease;
}

.social img:hover{
    filter: grayscale(0) invert(0);
}